<h2>Response from <b>'{{{hostname}}}'</b></h2>

<table class="flat-table">
    <tbody>
    <tr>
        <th>Endpoint</th>
        <th>HTTP Status Code</th>
    </tr>
    <tr>
        <td>{{{endpoint}}}</td>
        <td>{{{statuscode}}}</td>
    </tr>
    </tbody>
</table>