<h2>Response from <b>'{{{hostname}}}'</b></h2>
<h4>Usage</h4>
<p>
    Server provides endpoints that will return HTTP status code 200 by default.
</p>

<h4>Endpoints</h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>/</td>
        <td>This page</td>
    </tr>
    <tr>
        <td><a href="/exit">/exit/status?</a></td>
        <td>
            <p>Stops the server</p>
            <p>Optional parameter status is exit code. Default is 0</p>
        </td>
    </tr>
    {{#each endpoints}}
        <tr>
            <td><a href="/{{endpoint}}">/{{endpoint}}:status?</a></td>
            <td>
                <p>Current return HTTP code is '{{status}}'</p>
                <p>Optional parameter status will set new HTTP status code</p>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>