<h2>Response from <b>'{{{hostname}}}'</b></h2>
<h4>Usage</h4>
<p>
    Server provides endpoints that will return HTTP status code 200 by default.
</p>

<h4>Endpoints</h4>
<table class="flat-table">
    <tbody>
    <tr>
        <th>Endpoint</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>/</td>
        <td>This page</td>
    </tr>
    <tr>
        <td><a href="/liveness">/liveness</a></td>
        <td>Return page with HTTP code</td>
    </tr>
    <tr>
        <td><a href="/liveness">/liveness</a>/xxx</td>
        <td>Set xxx as HTTP code for endpoint /liveness</td>
    </tr>
    <tr>
        <td><a href="/readiness">/readiness</a></td>
        <td>Return page with HTTP code</td>
    </tr>
    <tr>
        <td><a href="/readiness">/readiness</a>/xxx</td>
        <td>Set xxx as HTTP code for endpoint /readiness</td>
    </tr>
    </tbody>
</table>